<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hive">
    <!-- Permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hive"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hive"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hive"
        android:usesCleartextTraffic="true">
        <activity android:name=".AdminPanelPost"></activity>
        <activity android:name=".FullScreenImageActivity" />
        <activity
            android:name=".AdminPanelGroupe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComptePackage.AdminPanel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostPackage.PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategoriePackage.DescriptionCategorie"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Connexion.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostPackage.MainMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Connexion.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>